.name {
  display: flex;
  justify-content: center;

  font-family: 'Arial', sans-serif;
  font-size: 16px;
  /* margin-bottom: 10px; */
}

.statusOnline {
  display: flex;
  justify-content: center;
  color: green;
  /* margin-bottom: 10px; */
}

.statusOffline {
  display: flex;
  justify-content: center;
  color: red;
  /* margin-bottom: 10px; */
}
