.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 250px;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-weight: 500;
  margin: 0;
  flex-grow: 1;
}

.online {
  color: green;
  margin: 0;
}

.offline {
  color: red;
  margin: 0;
}
